

.navbar2{
font-weight:550 ;
font-size: 20px; 
display: flex;
margin-left: 25%;
gap: 2%;  
margin-top: 2%;
}
#home{
color: green;   
}
#val{
 font-size: 35px;
 margin-top: 0.8%; 
 margin-left: -16%;  
}
.container{
   margin-left: 20%;
   gap: 13%;
   font-weight: bold;
   font-size: 25px;
   display: flex;
   margin-top: 5%;
}
.icons{
gap: 17%;
margin-top: -3.3%;  
margin-left: 75%; 

}
#terra{
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
 font-size: 40px; 
 font-style: italic;
 margin-left: -15%;
}

.container1{
display: flex;
padding-right: 20%;
}

#h2{
    text-align: center;
}
#black2{
margin-left: 50%;   
}
#vase{
margin-top: 15%;
margin-left: -12%;
}
#slat{
 font-weight: lighter;  
 margin-left: -50%;
 margin-top: 8%; 
 color: rgb(103, 101, 101);
}
#inspire{
 margin-left: -25%;   
}
#price{
color: green; 
margin-left: -30%;
margin-top: 14%;
}
#tree{
margin-left: 115%;
margin-top: -45%;

}
#Orchid{
margin-left: 155%;
margin-top: -35%;

}
#cras{
margin-left: 155%;
margin-top: 5%;  
font-weight: lighter; 
font-size: 20px;
color: rgb(103, 101, 101);
}

#sale{
 display: flex;   
 margin-top: 5%;
 margin-left: 16%;
}
#offer{
margin-top:3%;    
}
#house{
 margin-left: -20%; 
 margin-top: 3%;  
}
   
.container2{
display: flex;   
margin-top: 5%;
margin-left: 16%;
gap: 15%;
}
#thorn{
 margin-left: -142%;   
}
#plant{
font-weight: bolder; 
font-size: x-large;
margin-left: -10%;   
}
#h-plant{
 margin-left: -15%;   
}
#potted{
 margin-left: 65%; 
 margin-top: -10%;  
 display: flex;
}
#pot{
font-weight: bolder;  
font-size: 20px;  
margin-top: 8%;
margin-left: 6%;

}
#h3{
 margin-left: 30%;  
 font-size: 70px; 
 margin-top: 12%;
}
#hexa{
 width: 700px; 
 height: 700px;
 margin-left: 60%;  
 margin-top: -100%;
}
   
.container3{
margin-left: 11%;  
 }   
.title{
margin-top: 10%;
text-align: center;
font-size: 70px;
}
#product{
margin-top: -4%;
color: green;
font-size: 26px; 
font-style: italic;  
margin-left: 20%;
}
#H5{
 margin-left: 24%;
 margin-top: -3%;   
}
.names{
 display: flex; 
 margin-left: 4%;  
 gap: 8%;
}
.price{
 display: flex;
 color: green;  
 gap: 12%; 
 margin-left: 6%;
}
#btn{
 border-radius: 12px;  
 padding: 15px 40px;
 color: rgb(241, 248, 241); 
 background-color: green;
 border: none;
 margin-left: 76%;
}
#tree2{
font-weight: bold; 
margin-left: 50%; 
font-size: 20px,;  
}
/* #heading{
margin-top: 10%;
margin-left: 57%;
} */
.container5{
 display: flex;   
 margin-left: 20%;
 margin-top: 2%;
 font-size: 25px;
 gap: 5%;
}
#shell{
margin-left: -18%;
width: 600px;   
height: 600px;
margin-top: -35%;
}
.description{
 margin-left: 57%; 
 margin-top: -10%;  
}
#btn2{
 background-color: green;
 color: aliceblue;
 margin-left: 12%;
 padding: 12px 40px; 
 border-radius: 12px; 
 border: none; 
 margin-top: 5%;
}

.container6{
 display: flex;  
 margin-left: 14%; 
 gap: 23%;
 margin-top: 15%;
}
#btn4{
background-color: green;
color: aliceblue;
margin-left: 40%;
padding: 10px 20px; 
border-radius: 2px; 
border: none; 
margin-top: -34%;  
      
}
#btn5{
background-color: green;
color: aliceblue;
margin-left: 2%;
padding: 10px 20px; 
border-radius: 2px; 
border: none; 
  
}
#paragraph1{
margin-left: 45%;
margin-top: -13%;   
}
#heading3{
margin-left: 14%;
margin-top: 15%;
font-size: xx-large;
}
.PLANTS{ 
margin-left: 25%;
gap: -15%;
}
#Names{
display: flex;  
gap: 9%; 
margin-left: 4%;
}
.Cactus-tree{
display: flex;
margin-left: 28%;
gap: 15%;
margin-top: 5%;
}
#tag{
width: 90px;
margin-top: 2%; 
margin-left: -38%; 
height: 90px; 
}
.description2{
margin-left: 28%; 
margin-top: -5%;  
gap: 8%;   
}
#heading6{
 font-size: 42px;   
}
.wild-trees{
 display: flex; 
 gap: 15%;  
 margin-left: -18%;
}
#date{
display: flex; 
gap: 23%;
margin-left: -16%;
color: green;
}
.p4{
 display: flex; 
 gap: 5%;  
 align-items: baseline;
 margin-left: -18%;
}
#Pics{
display: flex;
margin-left: -18%;
gap: 30%;
}
#By{
 display: flex; 
 gap: 32%;  
 margin-left: 20%;
 color: green;
 font-weight: bold;
 margin-top: -3%;
}
#heading{
 font-size: 50px; 
margin-left: 35%;
}
#test{
 color: green;   
font-size: x-large;
margin-left: 42%;
}
.pictures{
display: flex;
width: 150px;
height: 150px;
margin-left: 14%;
gap: 35%;   
}
.footer{
 display: flex; 
 margin-left: 30%; 
 gap: 13%; 
}
#email{
padding: 20px 50px; 
background-color: rgba(244, 250, 244, 0.54);
color: rgb(122, 118, 118); 
margin-top: 10%;
box-shadow: 10px 10px 5px rgb(206, 208, 208);
border: none;
    
}
#sub{
 padding: 20px 66px; 
 background-color: green;
 color: white; 
 margin-top: 10%;
 border: none; 
}
#Developer{
margin-left: 50%;    
}
#Icons{
margin-left: 25%;
margin-top: 5%; 
}





