.navbar{
 display: flex; 
 gap: 10%; 
}
#h6{
 background-color: green; 
 display: flex;  
}
.container{
    display: flex;
    gap: 3%;
}
.container1{
    display: flex;
    padding-right: 20%;
}
.container2{
    display: flex;
    gap: 10%;
}
#h2{
    text-align: center;
}

    
.container3{
 #h3{
    text-align: center;
    font-size: xx-large;
 }   
}
.content{
    
    text-align: center;
    padding-bottom: 20%;
    margin-left: auto;
    font-size: xx-large;
    
}
.title{
    text-align: center;
    font-size: x-large;
}